.eee,tr,th,td,td{
  border: 2px solid black;
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
}
.o{
text-align: center;
color: Green;
font-family: Sans-Serif;
font-size: 30px;
}
.Gj{
color: green;
font-size: 20px;
}
.His{
color: yellow;
font-size: 20px;
}
.TIK{
color: Gold;
font-size: 20px;
}
.M{
color: Silver;
font-size: 20px;
}
.Ang{
color: purple;
font-size: 20px;
}
.Fiz{
color: brown;
font-size: 20px;
}
.Bio{
color: grey;
font-size: 20px;
}
.Gjeo{
color: orange;
font-size: 20px;
}
.Fis{
color: blue;
font-size: 20px;
}
.Fgj{
color: cyan;
font-size: 20px;
}
.Pu{
color: red;
font-size: 20px;
}
.Qy{
color: lime;
font-size: 20px;
}
.Muz{
color: magenta;
font-size: 20px;
}
.Art{
color: olive;
font-size: 20px;
}
